/*------------------------------------------------------------------
Project:  ComingSoon
Version:  
Last change:  
Assigned to:  Bach Le
Primary use:  
-------------------------------------------------------------------*/



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Gilroy-Regular;
  src: url('../fonts/Gilroy/Gilroy-Regular.ttf'); 
}

@font-face {
  font-family: Gilroy-Medium;
  src: url('../fonts/Gilroy/Gilroy-Medium.ttf'); 
}

@font-face {
  font-family: Gilroy-Bold;
  src: url('../fonts/Gilroy/Gilroy-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ Custon Styling ]*/
/*---------------------------------------------*/
.container {max-width: 1200px;}

body{
  font-family: Gilroy-Regular;
  color: #163F59;
}

.topHero{
  margin-top: 100px;
  margin-bottom: 270px;
}

.cloLogo{
  margin-bottom: 54px;
}

.underLogo{
  font-size: 30px;
  margin-bottom: 72px;
}

.slogan{
  font-size: 46px;
  font-family: Gilroy-Bold;
  margin-bottom: 32px;
}

/*//////////////////////////////////////////////////////////////////
[ SSM ]*/
@media (max-width: 480px) {
  .m-0-ssm {margin: 0;}
  .m-lr-0-ssm {margin-left: 0; margin-right: 0;}
  .m-lr-15-ssm {margin-left: 15px; margin-right: 15px;}
  .m-l-0-ssm {margin-left: 0;}
  .m-r-0-ssm {margin-right: 0;}
  .m-l-15-ssm {margin-left: 15px;}
  .m-r-15-ssm {margin-right: 15px;}

  .p-0-ssm {padding: 0;}
  .p-lr-0-ssm {padding-left: 0; padding-right: 0;}
  .p-lr-15-ssm {padding-left: 15px; padding-right: 15px;}
  .p-l-0-ssm {padding-left: 0;}
  .p-r-0-ssm{padding-right: 0;}
  .p-l-15-ssm {padding-left: 15px;}
  .p-r-15-ssm {padding-right: 15px;}

  .w-full-ssm {width: 100%;}
  /*---------------------------------------------*/

}